@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

main.rating {
    display: flex;
    align-items: center;
    height: 100vh;
    color: #7e8790;
    background-color: #141519;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;

    & section {
        background-color: #1a212b;
        border-radius: 1rem;
        padding: 1.4rem;
        max-width: 87vw;
        margin: auto;
    }

    & img.star {
        height: 2.5rem;
        width: 2.5rem;
        background-color: #262f38;
        padding: 0.8rem;
        border-radius: 1.5rem;
        margin-bottom: 1rem;
    }

    & h1 {
        font-size: 1.5rem;
        color: white;
        margin-bottom: .9rem;
    }

    & p {
        font-size: .88rem;
        line-height: 1.6;
        margin-bottom: 1.4rem;
    }

    & .choices {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }

    & .choice {
        height: 2.5rem;
        width: 2.5rem;
        background-color: #262f38;
        padding: 0.8rem;
        border-radius: 2.5rem;
        text-align: center;
        color: #7e8790;
    }

    & .select {
        background-color: #7e8790;
    }

    & button {
        width: 100%;
        padding: .9rem;
        text-transform: uppercase;
        border-radius: 2rem;
        background-color: hsl(25, 97%, 53%);
        color: white;
        border: none;
        font-size: .8rem;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 1rem;
    }

    & section.thank {
        text-align: center;

        & h1 {
            margin-bottom: .7rem;
        }

        & img {
            margin-bottom: 1rem;
        }

        & .score {
            display: inline-block;
            padding: 0.4rem 0.6rem 0.3rem 0.6rem;
            margin-bottom: 2rem;
            border-radius: 1rem;
            background-color: #262f38;
            color: hsl(25, 97%, 53%);
            font-size: .9rem;
        }

        & p {
            margin-bottom: 1rem;
        }
    }

    
}