@font-face {
    font-family: "WorkSans";
    font-weight: 400;
    src:
        url("/faq-accordion-main/assets/fonts/static/WorkSans-Regular.ttf") format("truetype"),
}

@font-face {
    font-family: "WorkSans";
    font-weight: 600;
    src:
        url("/faq-accordion-main/assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype"),
}

@font-face {
    font-family: "WorkSans";
    font-weight: 700;
    src:
        url("/faq-accordion-main/assets/fonts/static/WorkSans-Bold.ttf") format("truetype"),
}

main.faq {
    display: flex;
    min-height: 100vh;
    background: no-repeat url('/faq-accordion-main/assets/images/background-pattern-desktop.svg');
    background-color: #f9eeff;
    background-position-x: center;
    background-size: contain;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    font-family: 'WorkSans', sans-serif;
    color: hsl(292, 42%, 14%);

    @media (max-width: 650px) {
        background: no-repeat url('/faq-accordion-main/assets/images/background-pattern-mobile.svg');
        background-color: #f9eeff;
        background-position-x: center;
        background-size: contain;
    }

    & .background {
        max-width: 100vw;
        overflow: hidden;
    }

    & section {
        width: min(87vw, 37.5rem);
        margin: auto;
        padding: min(1vw, 1rem) min(6vw, 2.45rem);
        border-radius: 1.2rem;
        background-color: white;
        box-shadow: 0 3rem 2rem hsl(292, 42%, 14%, 10%);

        & :nth-child(n + 2 of article) {
            border-top: solid 1px hsl(275, 100%, 97%);
        }
    }

    & .title {
        display: flex;
        padding-left: 0.05rem;
        margin: min(2.5vw, 1.6rem) 0 min(0.5vw, 0.43rem) 0;
        align-items: center;
        font-size: clamp(1.3rem, 3vw, 2.32rem);

        & img {
            max-width: clamp(1.5rem, 3vw, 3rem);
        }

        & h1 {
            padding-left: 1.52rem;
        }
    }

    & article {

        & h3 {
            font-size: clamp(1rem, 2.7vw, 1.125rem);
            padding: min(6vw, 1.82rem) 0 min(6vw, 1.72rem) 0;
            font-weight: 600;

            &:hover {
                color: #9029b8;
                cursor: pointer;
            }
        }

        & div {
            display: flex;
            justify-content: space-between;
        }

        & p {
            max-height: 0;
            overflow: hidden;
            color: hsl(292, 16%, 49%);
            line-height: 1.5;
            transition: 0.3s ease-in-out;
        }

        & p.show {
            display: block;
            max-height: 10rem;
            padding-bottom: min(5vw, 1.52rem);
        }
    }
}