@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

main.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(235, 18%, 26%);
    min-height: 100vh;
    color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;

    @media (max-width: 740px) {
        display: block;
        background-color: white;
    }

    & img {
        display: block;
        max-width: 100%;
    }

    & .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        max-width: 58rem;
        padding: 1.53rem;
        background-color: white;
        border-radius: 2rem;

        @media (max-width: 740px) {
            grid-template-columns: 1fr;
            padding: 0;
        }
    }

    & .image {
        order: 1;
        justify-self: end;

        @media (max-width: 740px) {
            order: 0;
            justify-self: center;
        }

        & .desk {
            display: block;

            @media (max-width: 740px) {
                display: none;
            }
        }

        & .mobile {
            display: none;

            @media (max-width: 740px) {
                display: block;
            }
        }
    }

    & .content {
        margin-top: 4.2rem;
        margin-inline: 2.5rem 1.5rem;
    }

    & h1 {
        font-size: 3.52rem;        
        margin-bottom: 1.2rem;
    }

    & p {
        margin-bottom: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
    }

    & ul {
        list-style-type: none;
        margin-bottom: 2.65rem;
    }

    & li {
        display: flex;
        gap: 1rem;
        align-items: start;
        margin-bottom: 0.8rem;
    }

    & form {
        display: grid;
    }

    & .label {
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem;
        margin-bottom: 0.6rem;
    }

    & .mark {
        font-weight: 700;
    }

    & .error {
        color: red;
    }

    & input {
        padding-block: 1.1rem;
        padding-left: 1.3rem;
        font-size: 1.03rem;
        border: solid 1px hsla(231, 7%, 60% , 0.8);
        margin-bottom: 1.5rem;
    }

    & ::placeholder {
        color: hsla(231, 7%, 60% , 0.8);
      }

    & button {
        padding-block: 1.31rem 1.15rem;
        font-size: 0.95rem;
        border: none;
        color: white;
        background-color: hsl(234, 29%, 20%);
    }

    & .hide {
        display: none;
    }

}