
main.newsletter {
    & img {
        display: block;
        max-width: 100%;
    }

    & .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 40rem;
        margin-inline: auto;
    }

    & .image {
        order: 1;
        width: 20rem;
        background-color: chartreuse;
    }
}